body{
	padding:0px;
	margin:0px;
}
p,a{
	font-family: arial,sans-serif;
}
.menu{
	position: relative;
	margin:0px;
	height:29px;
	width:100%;
	
	background-color:#2D2D2D;
	
}

.menuMouseover{
	background-color: rgba(256,256,256,0.1);
}

.menuFocus{
	font-weight:bold !important;
	border-top: solid 2px #dd4b39;
	font: 13px/24px Arial,sans-serif!important;
}

.menuClick{
	background-color: white;
	color:rgb(51, 102, 204)!important;
	border-left:rgb(190,190,190) 1px solid; 
	border-right:rgb(190,190,190) 1px solid; 
}

.menu p{	
	display:inline;
	margin:0px;
	padding:0px 6px;
	height:100%;
	color:#CCC;
	cursor: pointer;
	
}

.menuLeft p{
	float:left;
	display: inline-block;
	font:13px/29px Arial,sans-serif;
}

.moreDiv{
	position: relative;
	border-style: solid dashed dashed;
	border-color: transparent;
	border-top-color: #c0c0c0;
	display: inline-block;
	font-size: 0;
	height: 0;
	width: 0;
	border-width: 3px 3px 0;
	padding-top: 1px;
	left: -11px;
	top: 13px;
}

.menuRight{
	position: absolute;
	display: inline-block;
	top: 4px;
	right: 0px;
}

.menuRight>p{
	float:right;
	position: relative;
	top: -4px;
	font:13px/30px Arial,sans-serif;
	height: 29px;
}

.menuRightImg>img{
	position: absolute;
	top:0px;
	left: 0px;
	padding:6px 4px 5px 7px; 
	width:18px;
	height:18px;
	margin:2px 0 0 0;
	cursor:pointer;
}

.menuRightImg{
	position: relative;
	float: right;
	width: 36px;
	height: 29px;
	display: inline-block;
	top: -6px;
}

.menuRightImgClick{
	display:block !important;
	border-left:rgb(190,190,190) 1px solid;
	border-right:rgb(190,190,190) 1px solid;
}

.imgBorder{
	border-right:solid 1px rgba(256,256,256,0.4);
	width:1px;height:20px;
	float:right;
}

.setImg2{
	display: none;
	background-color: white;
}

.moreDetail{
	position: absolute;
	display: none;
	top: 29px;
	left:0px;
	width: 92px;
	height: 257px;
	padding-top: 13px;
	border:rgb(190,190,190) 1px solid;
	border-top:rgba(256,256,256,0) 0px solid;
	box-shadow: 1px 1px 2px rgb(190,190,190),-1px 1px 2px rgb(190,190,190);
}

.setDetail{
	position: absolute;
	display: none;
	top: 31px;
	right:4px;
	width: 120px;
	height: 157px;
	padding-top: 13px;
	border:rgb(190,190,190) 1px solid;
	border-top:rgba(256,256,256,0) 0px solid;
	box-shadow: 1px 1px 2px rgb(190,190,190),-1px 1px 2px rgb(190,190,190);
}

.moreDetail>p{
	color: rgb(51, 102, 204)!important;
	width: 100%;
	height: 27px;
	padding: 0 20px;
}

.setDetail>p{
	color: rgb(51, 102, 204)!important;
	width: 78px;
	font:13px/30px Arial,sans-serif;
	height: 27px;
	padding: 0 20px;
}

.content{
	margin: 12% auto 0 auto;
	width:555px;
	height:300px;
}


.googleICON{
	position:relative;
	margin:0px auto;
	width:269px;
	height:95px;
	background:url(../img/googleICON.png) no-repeat;
	background-size:269px 95px;
}

.inputBlock{	
	width:100%;
	height:27px;
	margin-top:20px;

	border: 1px solid #d9d9d9;
	border-top-color: #c0c0c0;
}

.inputText{
	display:inline-block;
	margin:0px;
	padding:4px 6px;
	width:93%;
	height:27px;
	font-size:18px;
	border:solid 0px rgba(256,256,256,0);
}


.inputImg{
	float:right;
	width:4.3%;
	height:23px;
	margin:4px 3px 3px 0px;
	opacity: 0.6;
}

.contentBut>input{
	height:29px;
	margin:11px 6px;
	padding: 0px 8px;

	background-color:#F1F1F1;

	color:#666;
	font-weight:bold;
	font-size: 11px;
	border-radius:2px;
	border:1px solid #c6c6c6;
}

.contentButMouseover{
	color:#444 !important;
	border-color: #a6a6a6 !important;
}

.contentBut{
	display:inline-block;
	width: 100%;
	text-align: center;
}

.langBlock p{
	font-size: small;
}

.langBlock a{
	font-size: small;
	text-decoration: none;
}

.langBlock{
	margin-top: 22px;
	text-align: center;
}

.footer{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	margin: 0px;
	background-color: #f2f2f2;
	width: 100%;
	height: 41px;
	border-top: 1px solid #e4e4e4;

}

.footer a{
	display: inline-block;
	line-height:41px;
	text-decoration:none;
	font-size: small;
	color: #666;
}

.footer p{
	display: inline-block;
	line-height
	font-size: small;
	color: #666;
}


.footerLeft a{
	float: left;
	padding-left: 27px;
}

.footerRight a{
	float: right;
	padding-right: 27px;
}

































